* {
    box-sizing: border-box;
}

.grid-container {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn button {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #01920c;
    color: #fff;
    font-size: 1em;
    transition: .5S;
}

.btn button:hover {
    transform: scale(1.1);
    transition: .5S;
    cursor: pointer;
}